@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Quicksand", sans-serif;
}

@media only screen and (max-width: 1100px) {
  .navbar {
    height: 12.7rem !important;
  }
  .hero {
    padding-top: 14rem !important;
  }
}
@media only screen and (max-width: 642px) {
  .hero {
    font-size: 1.7rem .hero __img;
  }
  .about {
    margin-top: 4rem;
  }
  .about__heading {
    font-size: 1.8rem !important;
  }
  .skills {
    flex-direction: column;
    margin: 0;
  }
  .skills ul {
    margin: 0;
  }
}
@media only screen and (max-width: 800px) {
  .contact,
  .phone {
    flex-direction: column;
    gap: 20px;
  }
}
.navbar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  font-size: 1.6rem;
  
  z-index: 400;
  width: 100%;
  box-shadow: 0 0.1rem 1rem rgb(95, 95, 97);
  height: 8rem;
  background-color: #fff;
  position: fixed;
}
.navbar__img {
  width: 6.4rem;
  height: 6rem;
}
.navbar__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar__item {
  margin: 0 2rem;
  cursor: pointer;
  padding: 1.4rem;
}
.navbar__item:hover {
  background-color: #eee;
  align-self: stretch;

  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

.hero {
  z-index: 100;
  padding-top: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  align-items: center;
  height: 100vh;
}
.hero__img {
  text-align: center;
}
.hero__heading {
  font-size: 4rem;
}
.hero__text {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.hero__paragraph {
  font-size: 1.25rem;
}

.wrapper {
  display: flex;
}

.wrapper .static-txt {
  font-size: 60px;
  font-weight: 400;
}

.wrapper .dynamic-txts {
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}

.dynamic-txts li {
  list-style: none;
  color: #fc6d6d;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}

@keyframes slide {
  100% {
    top: -360px;
  }
}
.dynamic-txts li span {
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}

.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 130%;
  width: 100%;
  background: #fff;
  border-left: 2px solid #fc6d6d;
  animation: typing 3s steps(10) infinite;
}

@keyframes typing {
  40%, 60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}
.about {
  display: flex;
  padding: 6rem;
}
.about__heading {
  font-size: 3.7rem;
  text-align: center;
}
.about__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about__paragraph {
  font-size: 1.3rem;
}

.skills {
  display: flex;
  align-items: center;
  margin: 2rem;
}
.skills ul {
  margin-right: 6rem;
}
.skills ul h2 {
  color: green;
  text-align: start;
}
.skills ul li {
  font-size: 1.2rem;
  line-height: 3rem;
  text-align: start;
  margin: 1rem;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  align-items: center;
  justify-items: center;
}
.projects__card {
  width: 26rem;
  padding: 1rem;
  margin: 1rem;
  transition: all;
  transform: scale(0.8);
  background-color: #eee;
}
.projects__card:hover {
  transform: scale(0.95);
}

.card__figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.card__caption h2 {
  background-color: goldenrod;
  padding: 1rem;
  color: #f7f7f7;
}
.card__list {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  list-style-type: circle;
  align-items: center;
  position: relative;
}
.card__item {
  line-height: 2.5rem;
}
.card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.card__footer {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  cursor: pointer;
}
.card__footer i {
  height: 5rem;
  width: 5.5rem;
  padding: 0.6rem;
  background-color: #fff;
  border-radius: 50%;
}

.img {
  height: 4rem;
  width: 4rem;
  text-align: center;
}

svg {
  width: 10rem;
}

.btn {
  align-self: center;
  padding: 1.4rem 3rem;
  border: none;
  cursor: pointer;
}
.btn__hero {
  background-color: rgb(107, 183, 183);
  color: #fff;
  border-radius: 11px;
  font-weight: 700;
  margin: 4rem;
}
.btn__hero:hover {
  outline: 1px solid greenyellow;
  background-color: transparent;
  color: black;
}

.status {
  position: absolute;
  top: 0;
  padding: 1rem 2rem;
  background-color: rgb(86, 198, 16);
  color: #fff;
  font-weight: 700;
  font-size: 1.4rem;
  right: 0;
}

.status__on {
  background-color: rgba(245, 218, 62, 0.993);
}

.contact {
  padding: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contact h2 {
  padding: 1rem;
}

.card {
  width: 24.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__avatar {
  width: 20rem;
  height: 20rem;
  text-align: center;
}
.card__avatar figcaption {
  margin: 1rem;
  font-size: 1.3rem;
  font-weight: 700;
}

.avatar {
  height: 75%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.social {
  list-style-type: none;
  line-height: 3rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.social__item {
  padding: 1rem;
}
.social__item:first-child {
  background-color: black;
  color: #fff;
}
.social__item:nth-child(2) {
  background-color: blue;
  color: #fff;
}
.social__item:nth-child(3) {
  background-color: red;
  color: #fff;
}
.social__item:nth-child(4) {
  background-color: rgb(41, 119, 229);
  color: #fff;
}
.social__item:nth-child(5) {
  background-color: #f7f7f7;
  color: rosybrown;
}
.social__item:nth-child(6) {
  background-color: rgb(31, 110, 236);
  color: #fff;
}
.social__link {
  text-transform: uppercase;
  font-weight: 700;
}
.social__link i {
  margin-right: 1rem;
}

.phone {
  display: flex;
  align-items: center;
  background-color: rgb(252, 226, 231);
  padding: 8rem;
  -webkit-clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
          clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}
.phone .text {
  font-weight: 500;
  color: black;
}
.phone .adress {
  align-self: flex-end;
}/*# sourceMappingURL=index.css.map */
